/* color palette from <https://github.com/vuejs/theme> */
:root {
  --default-background: #E9ECEF;
  --secondary-background: #F8F9FA;
  --default-text: #212529;
  --secondary-text: #495057;
  --disabled-text: #7a838b;
  --primary-color: #47329C;
  --main-background: url('@/assets/images/main-banner.svg');
  --about-me-background: url('@/assets/images/about-me-light.svg');
  --connect-with-me-background: url('@/assets/images/contact-banner-light.svg');
}

[color-scheme="dark"] {
  --default-background: #000123;
  --secondary-background: #050522;
  --default-text: #FFFFFF;
  --secondary-text: #A8A8A8;
  --disabled-text: #707070;
  --primary-color: #47329C;
  --main-background: url('@/assets/images/main-banner.svg');
  --about-me-background: url('@/assets/images/about-me.svg');
  --connect-with-me-background: url('@/assets/images/contact-banner.svg');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: var(--default-text);
  background: var(--default-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}