@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Righteous&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}

button {
  cursor: pointer;
}

h2 {
  font-size: clamp(2rem, -0.1875rem + 7vw, 3.75rem);
}

h3 {
  font-size: clamp(1.5rem, 0.0938rem + 4.5vw, 2.625rem);
  line-height: 1;
}

p {
  font-size: clamp(1rem, 0.625rem + 1.2vw, 1.3rem);
  line-height: 1.2;
}