@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Righteous&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}

button {
  cursor: pointer;
}